<%= stylesheet_link_tag "application.css" %>
<head>
  <link rel="/stylesheets/app.css" hfref="application.css" type="text/css">
</head>
<div id="left">
</div>
<body>
<h1>Welcome#index</h1>
<p>Find me in app/views/welcome/index.html.erb</p>
</body>
