<<<<<<< HEAD
<%= stylesheet_link_tag "application.css" %>
<head>
  <link rel="/stylesheets/app.css" hfref="application.css" type="text/css">
</head>
<div id="left">
</div>
<body>
<h1>Welcome#index</h1>
<p>Find me in app/views/welcome/index.html.erb</p>
</body>
=======
<h1>Welcome to explorebotswana.herokuapp.com</h1>
<p>This site is currently under construction, please checkout our current website at</p>
<a href="http://botswanafunding.webs.com">www.botswanafunding.webs.com</a>
>>>>>>> 44691878291a9f487bb362748cf73dee90fcc871
